.left-first {
    background-color: green;
    position:relative;
    padding-top: 0.1px;
    padding-bottom: 0.1px;

    hr {
        color:black;
        background-color: black;
        height: 5;

    }

    p {
        padding: 2px 5px;
    }
}