.contactComp {
    
    display: flex;
    flex-direction: column;
    position: relative;
    width: 50%;
    text-align: left;
    background-color: white;
    flex-wrap: wrap;

    ul {
        margin: auto 15px;
        list-style-type: none;
        padding: 0;
        
    }
}

// static : normal document 
// relative: 
// position: fixed
// absolute: 
// sticky: mixture of static and fixed