.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  display: flex;
  position: relative;
  padding: 0px;
  top: 0px;
  left: 0px;
}

.main-body{
  width: 100%;
  display: flex;
  overflow: hidden;
}


