.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  display: flex;
  position: relative;
  padding: 0px;
  top: 0px;
  left: 0px;
}

.main-body{
  width: 100%;
  display: flex;
  overflow: hidden;
}

.autor {
  background-color: cyan;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

ul {
  margin: auto 0px;
  list-style-type: none;
  text-align: right;
}

li {
  margin-bottom: 0.3em;
}

progress {
  color: white;
}