.left-column{
    width: 40%;
    background-color:#FF9900 !important;
    float: left;
    display: flex;
    flex-direction: column;
    padding-right: 15px;

    .titleComp {
        
        width: 40%;
        text-align: left;
       
        padding-left: 4em;
    }

    .left-second {
        text-align: right;
        padding: 0.1px;
    
        p {
            padding: 2px 5px;
        }
    };



    .skill {
        margin-left: 15px;
        flex-direction: row;
        display: flex;
    
        .skill-span{
            float: left;
            text-align: left;
        }
    
        .skill-bar{
            float: left;
    
        }
    }
    
    
}


